#root {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background: var(--color-panel);
  border-radius: 12px;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.6);
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.white-page {
  padding: 2rem;
}

.summary {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 1.5rem;
}
.card {
  background: rgb(12, 0, 0);
  border-radius: 10px;
  padding: 1.5rem;
  box-shadow: 0 2px 8px rgb(0, 0, 0);
  color: var(--text-primary);
}

.filters{
  margin-bottom:1rem;
}
.filters input,
.filters select {
  background: rgb(255, 255, 255);
  border: 1px solid black;
  color: var(--text-primary);
  border-radius: 6px;
  padding: 0.5rem;
}

.stock-table {
  width: 100%;
  border-collapse: collapse;
  color: white;
}

.stock-table th,
.stock-table td {
  border: 1px solid rgba(9, 107, 30, 0.726);
  padding: 0.75rem;
}


.stock-table th {
  background: var(--color-accent);
  color: white;
}

.arrow-up {
  color: var(--color-green);
  font-weight: bold;
}

.arrow-down {
  color: var(--color-red);
  font-weight: bold;
}
